{% extends "base.html" %}
{% block content %}
    <h1>Aplikace slouží pro sledovani sportovních aktivit v okolí a doporučení zajimavych tras</h1>
        <div style="border-style: solid;"></div>
    <p>Ať už právě začínáte svou kondiční cestu nebo jste ostřílení běžci, tato aplikace má vše, co potřebujete, abyste zůstali na správné cestě a byli motivováni k dosažení svých cílů. Získejte tipy na akce a trasy, díky nimž se při běhání budete cítit snadněji, a inspirativní komunitu našich sportovců, to vše podporuje váš společný závazek ke zdraví a kondici.</p>
{% endblock content %}