{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/styles-basics.css' %}">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>


    {% if title %}
        <title>Home - {{ title }}</title>
    {% else %}
        <title>Home</title>
    {% endif %}
</head>
<body>
    <div class="container">
    <header class="container-item header">
      <div class="main-nav">
      {# <a href="{% url 'home' %}">Home</a> #}
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">Profile</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'register' %}">Register</a>
        {% endif %}
        </div>
        <nav>
		<ul class="nav-links">
			<li class="nav-link"><a href="{% url 'home' %}">Home</a></li>
			<li class="nav-link"><a href="{% url 'about' %}">About</a></li>
            <li class="nav-link"><a href="{% url 'activities:list' %}">Activities</a></li>
            <li class="nav-link"><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
		</ul>
        </nav>
    </header>
    <main class="container-item">
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}

    </main>
  </div>
<footer>
<p>
    &copy; copyright 2024 Jana Losova
</p>
</footer>
 </body>
</html>
