asgiref==3.7.2
beautifulsoup4==4.12.3
bulma==1.0.1
crispy-bootstrap4==2024.1
crispy-bootstrap5==2024.2
Django==4.2.13
django-bootstrap-v5==1.0.11
django-bulma==0.8.3
django-crispy-forms==2.1
django-filter==24.2
django-simple-bulma==2.6.0
djangorestframework==3.15.1
libsass==0.23.0
pillow==10.3.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
